body{
    font-family: 'Nunito',sans-serif;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.trash {
    margin-right: 0px;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity:0;
    cursor: pointer;
}

tbody:hover {
    cursor:pointer;
}

tr:hover .trash{
    width:20px;
    opacity: 0.9;
    cursor: pointer;
}

.listtext {
    text-decoration: line-through;
    opacity: 0.7;
}

.inputview{
    display: none;
     transition: linear;
 }
 

 #income{
     color:#18d17b;
 }


 #exp{
     color:#FF0000;
 }

 .plussign{
    background:#18d17b;
    color:#18d17b;
    background-clip: content-box;
    
 }
 .minussign{
     color: #B22222;
     background: #B22222;
     background-clip: content-box;

 }

a{
    color: white;
}

.fa-plus{
    cursor: pointer;
}