<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--fontawesome cdn-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--custom css-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Expense Tracker</title>
</head>
<body>
   <div class="container mt-5 mb-5 bg-dark text-white w-50">
       <div class="row">
           <div class="col-7 mt-2">
               <h2>Expense Tracker</h2>
           </div>
           <div class="col-5 mt-3 text-right">
               <p><strong>YOUR BALANCE: <span>{{ balance }}</span></strong></p>
           </div>
       </div>

       <hr color="white"/>
       
       <div class="row">
           <div class="col-6 text-left"><strong>INCOME:<span id="income"> RS {{ income }}</span></strong></div>
           <div class="col-6 text-right"><strong>EXPENSE: <span id="exp">RS {{ exp }}</span></strong></div>
       </div>
       
       <br/>
       
       <div class="row">
           <div class="col-8 text-left">
               <h4>History</h4>
           </div>
           <div class="col-4 text-right">
            <a href="{% url 'history' %}" title="view all history"><i class="fa fa-history mr-2" style="font-size:24px;"></i></a>
           </div>
           <hr color="white"/>
       </div>

       <table class="table table-borderless table-dark table-hover table-sm">
        <thead>
          <tr class="table-active">
            <th scope="col">Date</th>
            <th scope="col">Transaction Name</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for transaction in expense.all %}
          <tr>
            <td> {{ transaction.datepretty }}</td>
            <td>{{ transaction.transaction_name }}</td>
            <td class="text-left">{{ transaction.amount }}</td>
            <div><td class="text-right">{{ transaction.sign }}</td></div>
          </tr>
          {% endfor %}
        </tbody>
      </table>
       
       <br/>
       <div class="row">
           <div class="col text-left">
             <h4>Add new transaction</h4>
           </div>
           <div class="col text-right pt-1 mr-2">
            <h4><i class="fa fa-plus"></i></h4>
           </div>

       </div>
       <div class="row fademessage">
            <div class="col">
                {% if error %}
                    <div class="alert alert-warning text-center" role="alert"><strong>{{ error }}</strong></div>
                {% endif %}
            </div>
        </div>

        <hr color="white"/>
        <div class="floating inputview">
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="row">
                        <div class="col-6 text-left">
                                <label>Transaction Name</label>
                                <input type="text" class="form-control inputview" placeholder="e.g Bought Book" name="transaction_name">
                        </div>

                        <div class="col-6 text-left">
                            <label>Amount(+ for income, - for expense)</label>
                            <input type="text" class="form-control inputview" placeholder="e.g -250" name="amount">
                        </div>
                    

                </div>

                        <br/>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-outline-success" href="">Submit</button>
                            </div>
                        </div>
                </form>

        </div>
       <br/>
   </div>
    <!-- JS, Popper.js, and jQuery -->
 <!--including jQuery CDN-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!--cutom js-->
<script src="{% static 'todo.js' %}"></script>
</body>
</html>

